<div class="modal">
    <div class="nav">
        <button (click)="closeDialog()">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
</svg>
</button>
    </div>
    <div class="block">
        <div class="block_title">Device name:</div>
        <div class="block_body">
            <input nz-input placeholder="Set name" [(ngModel)]="deviceName" />
        </div>
    </div>
    <div class="block_button">
        <button (click)="editName()" nz-button nzType="primary">Change name</button>

    </div>
</div>
